p{
    background-color: brown;
    font-family:monospace;
}
*{
    font-variant:small-caps ;
}

.p1{
    color:chartreuse;
}

.container{
    background-image: url("pikachu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}